:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter);
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
}

html {
  background-color: white;
  min-height: 100vh;
  width: 100%;
}
